<html lang="en">

<head>
    <title> Hetic projet groupe 4 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</head>

<body>    

    <div class="infoforma">
        <h1>Informations sur le métier :</h1>  
            <div class="cinqcinq info">  
                <ul>
                {% for infos in recherche_text %}
                    <li class="liste">{{ infos }}</li> 
                {% endfor %}  
                </ul>
            </div>      
            <input class="retour" type="button" onclick="javascript:history.back(-1);" value="Retour" />
    </div>

</body>

</html>